<title><%= 'Employee' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>     
<div class="main-column">
  <div class="main-column-content"> 
    <div class="main-column-content-heading">      
      <div class ="main-column-content-RightTopHeading search-link" >
      <%= link_to "Back", {:controller => 'employees', :action => 'index', :search => @searchparam} %> </div>
      <h1>Employee Details</h1>      
    </div>       
    <div class="main-column-content-content">
      </br>      
      <%= simple_form_for @employee do |f| %>
      <%= f.input :Emp_ID, disabled: true,  :label => 'Employee ID : ', :required => false %>
      <%= f.association :company, disabled: true,   label_method: :Name, value_method: :Company_ID, include_blank: false, :label => 'Company : ', :input_html => {:maxlength =>50, :style=> 'width: 300px'}, :required => false %>
      <%= f.input :Title, disabled: true, :label => 'Title: ' %>
      <%= f.input :First_Name, disabled: true, :label => 'Given Name : ', :required => false %>
      <%= f.input :Middle_Name, disabled: true, :label => 'Middle Name : ' %>
      <%= f.input :Last_Name, disabled: true, :label => 'Surname : ' %>
      <%= f.input :Gender, disabled: true, :label => 'Gender : ', collection: [ ['M', 'Male' ], ['F', 'Female'] ], label_method: :last, value_method: :first, :input_html => {:maxlength =>50, :style=> 'width: 300px'} %>
      <%= f.input :DOB, disabled: true, :label => 'Date Of Birth : ', as: :string %>
      <%= f.input :DOJ, disabled: true, :label => 'Date Of Join : ', as: :string %>
      <%= f.input :Terminated_IND, disabled: true, :label => 'Terminated : ', collection: [ ['N', 'No' ], ['Y', 'Yes'] ], label_method: :last, value_method: :first, :input_html => {:maxlength =>50, :style=> 'width: 300px'} %>
      <%= f.association :department, disabled: true,   label_method: :Name, value_method: :Department_ID, include_blank: false, :label => 'Department : ', :input_html => {:maxlength =>50, :style=> 'width: 300px'}, :required => false %>
      <%= f.association :designation, disabled: true, label_method: :Name, value_method: :Designation_ID, include_blank: false, :label => 'Designation : ', :input_html => {:maxlength =>50, :style=> 'width: 300px'}, :required => false %>
      <%= f.association :employee, disabled: true,  :class => "disabled",  label_method: :First_Name, value_method: :Emp_ID, include_blank: false, :label => 'Manager : ', :input_html => {:maxlength =>50, :style=> 'width: 300px'}, :required => false %>
      <%= f.input :Address1, disabled: true, :label => 'Address : ' %>
      <%= f.input :Address2, disabled: true, :label => ': ' %> 
      <%= f.input :Suburb, disabled: true, :label => 'Suburb : ' %>
      <%= f.input :City, disabled: true, :label => 'City : ' %>
      <%= f.input :Postal_Code, disabled: true, :label => 'Post Code : ' %>
      <%= f.input :Country, disabled: true, :label => 'Country : ' %>
      <%= f.input :Mobile, disabled: true, :label => 'Mobile No. : ' %>
      <%= f.input :Phone, disabled: true, :label => 'Phone No. : ' %>
      <%= f.input :Fax, disabled: true, :label => 'Fax No. : ' %>
      <%= f.input :Email, disabled: true, :label => 'Email Address : ', :required => false %>
      <%= f.input :LOP_ID, disabled: true, :label => 'Last Operator ID : ', :required => false %>
      <% end %>
    </div>
  </div>
</div>
