<title><%= 'Application' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>     
<div class="main-column">
  <div class="main-column-content">
    <div class="main-column-content-heading">
      <h1>Application List</h1>      
    </div>
    <!-- <div class="right-column-content-img-left"> <%= link_to image_tag("img-1.png", alt: "Banner")%></div>-->
    <div class="main-column-content-content">
      </br>
      <%= form_tag '/applications/index', method: :post do %>
        <div class="row">            
         <div class="col-md-3">      
            <%= text_field_tag :search, params[:search], :class => 'search-input' %>
          </div>     
          <div class="col-md-2"> 
            <%= submit_tag "Search", :class => 'search-button', :name => 'commit'  %> 
          </div>    
          <div class="col-md-2"> 
            <%=  submit_tag "New", :class => 'search-button', :name => 'commit' %>            
          </div>         
        </div>
      <% end %>
      </br>      
      <table id="applications" class = "display">
        <thead>
          <tr>
            <th>Application ID</th>     
            <th>Name</th>    
            <th>Project</th>    
            <th>Owner</th>                        
            <th>Options</th>  
          </tr>
        </thead>      
        <tbody> 
         <% @applications.each do |app| %>
          <tr>
            <td><%= app.App_ID %></td>
            <td><%= app.Name %></td>
            <td><%= app.project.Name %></td>
            <td><%= app.employee.Title.to_s + ' ' + app.employee.First_Name.to_s + ' ' + app.employee.Middle_Name.to_s + ' ' + app.employee.Last_Name.to_s %></td>
            <td class = 'search-link' >
              <%= link_to image_tag("show.png", size: "24x24", alt: "Show"), {:controller => 'applications', :action => 'show', :id => app.App_ID, :search => params[:search]} %>
              <%= link_to image_tag("edit.png", size: "24x24",  alt: "Edit"), {:controller => 'applications', :action => 'edit', :id => app.App_ID, :search => params[:search]} %>
              <%= link_to image_tag("delete.png", size: "24x24",  alt: "Delete"), {:controller => 'applications', :action => 'delete', :id => app.App_ID }, data: { confirm: 'Are you sure you want to delete Application ID : ' + app.App_ID + ' ?' } %>
            </td>
          </tr>
         <% end %>        
        </tbody>   
      </table>
    </div>
  </div>
</div>


