<title><%= 'Appllication' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>     
<div class="main-column">
  <div class="main-column-content"> 
    <div class="main-column-content-heading">      
      <div class ="main-column-content-RightTopHeading search-link" >
      <%= link_to "Back", {:controller => 'applications', :action => 'index', :search => @searchparam} %> </div>
      <h1>Application Details</h1>      
    </div>       
    <div class="main-column-content-content">
      </br>      
      <%= simple_form_for @application do |f| %>
      <%= f.input :App_ID, disabled: true,  :label => 'Application ID : ', :required => false %>
      <%= f.input :Name, disabled: true, :label => 'Name : ', :required => false %>
      <%= f.input :Description, disabled: true, :label => 'Description : ' %>
      <%= f.association :project, disabled: true,  label_method: :Name, value_method: :Project_ID, include_blank: false, :label => 'Project : ', :input_html => {:maxlength =>50, :style=> 'width: 300px'}, :required => false %>
      <%= f.association :employee, disabled: true,  label_method: :First_Name, value_method: :Emp_ID, include_blank: false, :label => 'Owner : ', :input_html => {:maxlength =>50, :style=> 'width: 300px'}, :required => false %>
      <%= f.input :LOP_ID, disabled: true, :label => 'Last Operator ID : ', :required => false %>
      <% end %>
    </div>
  </div>
</div>
