<title><%= 'Designation' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>     
<div class="main-column">
  <div class="main-column-content">
    <div class="main-column-content-heading">
      <h1>Designation List</h1>      
    </div>
    <!-- <div class="right-column-content-img-left"> <%= link_to image_tag("img-1.png", alt: "Banner")%></div>-->
    <div class="main-column-content-content">
      </br>
      <%= form_tag '/designations/index', method: :post do %>
        <div class="row">            
         <div class="col-md-3">      
            <%= text_field_tag :search, params[:search], :class => 'search-input' %>
          </div>     
          <div class="col-md-2"> 
            <%= submit_tag "Search", :class => 'search-button', :name => 'commit'  %> 
          </div>    
          <div class="col-md-2"> 
            <%=  submit_tag "New", :class => 'search-button', :name => 'commit' %>            
          </div>         
        </div>
      <% end %>  
      </br>      
      <table id="designations" class = "display">
        <thead>
          <tr>
            <th>Designation ID</th>     
            <th>Name</th>                               
            <th>Options</th>     
          </tr>
        </thead>      
        <tbody> 
         <% @designations.each do |app| %>
          <tr>
            <td><%= app.Designation_ID %></td>
            <td><%= app.Name %></td>
            <td class = 'search-link' >
              <%= link_to image_tag("show.png", size: "24x24", alt: "Show"), {:controller => 'designations', :action => 'show', :id => app.Designation_ID, :search => params[:search]} %>
              <%= link_to image_tag("edit.png", size: "24x24",  alt: "Edit"), {:controller => 'designations', :action => 'edit', :id => app.Designation_ID, :search => params[:search]} %>
              <%= link_to image_tag("delete.png", size: "24x24",  alt: "Delete"), {:controller => 'designations', :action => 'delete', :id => app.Designation_ID }, data: { confirm: 'Are you sure you want to delete Designation ID : ' + app.Designation_ID + ' ?' } %>
            </td>
          </tr>
         <% end %>        
        </tbody>   
      </table>
    </div>
  </div>
</div>
<!-test Commit1 !>
<!-test Commit2 !>



