<title><%= 'Note Type' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>     
<div class="main-column">
  <div class="main-column-content"> 
    <div class="main-column-content-heading">      
      <div class ="main-column-content-RightTopHeading search-link" >
      <%= link_to "Back", {:controller => 'notetypes', :action => 'index', :search => @searchparam} %> </div>
      <h1>Note Type Details</h1>      
    </div>       
    <div class="main-column-content-content">
      </br>      
      <%= simple_form_for @notetype do |f| %>
      <%= f.input :NoteType_ID, disabled: true,  :label => 'Note Type ID : ', :required => false %>
      <%= f.input :Name, disabled: true, :label => 'Name : ', :required => false %>
      <%= f.input :Description, disabled: true, :label => 'Description : ' %>
      <%= f.input :LOP_ID, disabled: true, :label => 'Last Operator ID : ', :required => false %>
      <% end %>
    </div>
  </div>
</div>
