<title><%= 'Company' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>     
<div class="main-column">
  <div class="main-column-content"> 
    <div class="main-column-content-heading">      
      <div class ="main-column-content-RightTopHeading search-link" >    
      <%= link_to "Back", {:controller => 'companies', :action => 'index', :search => @searchparam} %> </div>  
      <h1>New Company</h1>      
    </div>       
    <div class="main-column-content-content">		 
      <%= simple_form_for @company do |f| %>   
        <% if @company.errors.any? %>
            <div class="error_explanation">
                <div>
                <h2>Errors : </h2>
                <ul>               
                    <% @company.errors.each do |attr, message| %>
                        <li><%= message %></li>
                    <% end %>                 
                </ul>
            </div>
            </div>           
        <% end %>
        <% if flash[:notice] != "" %>
          <div class="successnotice">
          <div>
            <h3>Information : </h3>
            <p><%= flash[:notice] %></p>
          </div>
          </div>
        <% end %>  
        </br>
        <%= f.input :Company_ID,  :label => 'Company ID : ', :required => true, :error => false %>
        <%= f.input :Name, :label => 'Name : ', :error => false %>
        <%= f.input :Description, :label => 'Description : ' %>
        <%= f.input :ABN_Number, :label => 'ABN Number : ' %>
        <%= f.input :Address1, :label => 'Address : ' %>
        <%= f.input :Address2, :label => ': ' %> 
        <%= f.input :Suburb, :label => 'Suburb : ' %>
        <%= f.input :City, :label => 'City : ' %>
        <%= f.input :Postal_Code, :label => 'Post Code : ' %>
        <%= f.input :Country, :label => 'Country : ' %>
        <%= f.input :Mobile, :label => 'Mobile No. : ' %>
        <%= f.input :Phone, :label => 'Phone No. : ' %>
        <%= f.input :Fax, :label => 'Fax No. : ' %>
        <%= f.input :Email, :label => 'Email Address : ' %>
        <%= f.input :LOP_ID, :label => 'Last Operator ID : ', readonly: true, :required => false, :error => false, :input_html => { :value => current_user.Emp_ID } %>        
        <%= f.submit 'Submit', :class => 'formbutton-center' %>                
      <% end %>
    </div>
  </div>
</div>

