<html>
<head>
	<title><%= yield(:title) %></title> 
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>	
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	
<div class="wrapper">	    
  <%= render partial: "layouts/header" %>  
  <div class="clear"></div>
  <div class="page">  
    <%= yield %>  
  </div> 
</div>
<div class="clear"></div>
<%= render partial: "layouts/footer" %>
<div class="clear"></div>
<%= render partial: "layouts/copyright" %>

</body>
</html>
